.Home {
  height: 100vh;
}
.Healthy {
  position: relative;
  border-radius: 10px;
  text-align: center;
  background: #0093af;
  margin: 1rem;
  box-shadow: 6px 6px 18px #185c59;
}
.cards {
  margin: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.cards div {
  /* height: 250px; */
  margin-bottom: 20px;
  flex: 1 1 150px;
}
.cards p {
  font-family: "Courgette", cursive;
}
.target-h2 {
  padding-top: 1rem;
  padding-bottom: 10px;
}

.target-cal {
  box-shadow: 1.8px 2px #185c59;
  text-align: center;
  padding: 5px;
  font-size: 16px;
}

.target-btn {
  border-radius: 10px;
  background: #f6f6f6;
  transition: 0.3s;
  box-shadow: 3px 4px #185c59;
  text-align: center;
  margin-left: 15px;
  height: 0.94rem;
  padding: 5px;
  font-size: 16px;
}

.target-btn:hover {
  box-shadow: 0px 0px #f9a5a5;
}

.added-card:hover {
  transition: transform 0.2s; /* Animation */
  transform: scale(1.1);
}

.editpencil {
  transform: none !important;
}
.editIcon:hover {
  color: #f9a5a5;
}

.popper > * {
  max-height: 300px;
}

.list-display {
  margin-top: 5%;
}
.singleCard {
  overflow-y: auto;
  border: 3px solid black;
  border-radius: 55px 55px 50px 50px;
  margin: auto;
  width: 50%;
  height: 400px;
}
.list-display h2 {
  border-radius: 50px 50px 0px 0px;
  border: solid black;
  background-color: #34bcd8;
  padding: 5%;
}
.fruit-calorie {
  padding: 2%;
  margin: 2% 2% 2% 4%;
  text-decoration: underline;
}
